accelerate==1.13.0
torch==2.10.0
codetiming==1.4.0
datasets==4.8.4
flash-attn==2.8.3
liger-kernel==0.7.0
mathruler==0.1.0
numpy==2.2.6
omegaconf==2.3.0
pandas==3.0.1
peft==0.18.1
pillow==12.1.1
pyarrow==23.0.1
pylatexenc==2.10
qwen-vl-utils==0.0.14
ray[default]==2.54.0
tensordict==0.11.0
torchdata==0.11.0
transformers==4.57.6
vllm==0.18.0
sentence-transformers==5.3.0
wandb==0.25.1
# eval2 依赖
openai==2.24.0
tqdm==4.67.3
pyyaml==6.0.3
filelock==3.25.2
psutil==7.2.2